<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
<div id="app">
  <div>
    <input type="radio" id="view-a" value="v-a" v-model="view">
    <label for="view-a">view-a</label>
    <input type="radio" id="view-b" value="v-b" v-model="view">
    <label for="view-b">view-b</label>
  </div>
  <transition name="component-fade" mode="out-in">
    <component v-bind:is="view"></component>
  </transition>
</div>
<script>
  new Vue({
    el: '#app',
    data: {
      view: 'v-a',
    },
    components: {
      'v-a': {
        template: '<div>Component A</div>'
      },
      'v-b': {
        template: '<div>Component B</div>'
      }
    }
  })
</script>
<style>
  .component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
  }
  .component-fade-enter, .component-fade-leave-to
  /* .component-fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>
