<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
<div id="components-1">
  <div :style="{ fontSize: postFontSize + 'em' } ">
    <blog-post-1
      v-for="post in posts"
      v-bind:key="post.id"
      v-bind:post="post"
      v-on:enlarge-text="postFontSize += 0.1"
    >
    </blog-post-1>
  </div>
</div>
<div id="components-2">
  <div :style="{ fontSize: postFontSize + 'em' } ">
    <blog-post-2
      v-for="post in posts"
      v-bind:key="post.id"
      v-bind:post="post"
      v-on:enlarge-text="postFontSize += $event"
    >
    </blog-post-2>
  </div>
  <div :style="{ fontSize: postFontSize + 'em' } ">
    <blog-post-2
      v-for="post in posts"
      v-bind:key="post.id"
      v-bind:post="post"
      v-on:enlarge-text="onEnlargeText"
    >
    </blog-post-2>
  </div>
</div>
<div id="components-3">
  <p>{{ searchText }}</p>
  <input v-model="searchText">
  <input
    v-bind:value="searchText"
    v-on:input="searchText = $event.target.value"
  >
  <custom-input
    v-bind:value="searchText"
    v-on:input="searchText = $event"
  >
  </custom-input>
  <custom-input v-model="searchText"></custom-input>
</div>
<script>
  Vue.component('blog-post-1', {
    props: ['post'],
    template: `
      <div class="blog-post">
        <h3>{{ post.title }}</h3>
        <button v-on:click="$emit('enlarge-text')">
          Enlarge text
        </button>
        <div v-html="post.content"></div>
      </div>
    `
  })
  new Vue({
    el: '#components-1',
    data: {
      posts: [
        { id: 1, title: 'My journey with Vue', content: 'content1' },
        { id: 2, title: 'Blogging with Vue', content: 'content2' },
        { id: 3, title: 'Why Vue is so fun', content: 'content3' },
      ],
      postFontSize: 1
    }
  })
  Vue.component('blog-post-2', {
    props: ['post'],
    template: `
      <div class="blog-post">
        <h3>{{ post.title }}</h3>
        <button v-on:click="$emit('enlarge-text', 0.1)">
          Enlarge text
        </button>
        <div v-html="post.content"></div>
      </div>
    `
  })
  new Vue({
    el: '#components-2',
    data: {
      posts: [
        { id: 1, title: 'My journey with Vue', content: 'content1' },
        { id: 2, title: 'Blogging with Vue', content: 'content2' },
        { id: 3, title: 'Why Vue is so fun', content: 'content3' },
      ],
      postFontSize: 1
    },
    methods: {
      onEnlargeText: function(enlargeAmount) {
        this.postFontSize += enlargeAmount
      }
    }
  })
  Vue.component('custom-input', {
    props: ['value'],
    template: `
      <input
        v-bind:value="value"
        v-on:input="$emit('input', $event.target.value)"
      >
    `
  })
  new Vue({
    el: '#components-3',
    data: {
      searchText: ''
    }
  })
</script>
